chat/migrations
chat/__pycache__
chatapp/migrations
chatapp/__pycache__
login/migrations
login/__pycache__




###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.sqlite3


############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
